localhost:2020   # Site address
bind 127.0.0.1
log stdout

proxy /hcogar https://umdrive.memphis.edu {
    proxy_header Host umdrive.memphis.edu
    proxy_header X-Real-IP {remote}
    proxy_header X-Forwarded-Proto {scheme}
}
proxy /cnkelly https://umdrive.memphis.edu {
    proxy_header Host umdrive.memphis.edu
    proxy_header X-Real-IP {remote}
    proxy_header X-Forwarded-Proto {scheme}
}
